<div *ngIf="cargando" class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!cargando" class="row row-cols-1 row-cols-md-4">
    <div class="col mb-3" *ngFor="let continente of continentes; let i = index;" (click)="verRegion(continente.code)">
        <div class="card h-100 link">
            <img [src]="imagenes[continente.id]" class="card-img-top" [alt]="continente.id">
            <div class="card-body">
                <h5 class="card-title text-center">{{continente.name}}</h5>
            </div>
        </div>
    </div>
</div>